body {
	background-color: #eaeaea;
	min-width: 160px;
	font-family: 'Inter', sans-serif;
	font-size: 90%
}

div.button-container {
	margin: 1em 0 0 0;
	display: inline-block;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.color-option {
        margin:  0.5em;
}

